extends ./_layout/layout.pug

block variables
  - pageTitle = "Content Not Found"
  - pageDesc = "The page you are requesting cannot be found."
  - pageTagline = ["The page you are requesting cannot be found.", "Would you like to join the program instead?"]
  - noCta = true

block content
