extends /_layout/layout.pug

block variables
  - pageTitle = "The Programs"
  - navTitle = "Programs"
  - pageDesc = "The goal of The UI Development Mentoring Programs is to help everyone become a better UI developer."
  - pageTagline = ["The goal of <b>The UI Development Mentoring Programs</b> is to help everyone become a better UI developer.", "Once you signup for the program, we are start a special kind of relationship.", "The relationship should be considered as a two-way street: we should establish mutual respect and trust.", "Once we have that, I would be happy to help you by providing answers and examples.", "You could choose between two different programs: skills improvement and career guidance.", "There no better time than now, so go ahead and apply for the program."]

block content
  section.wrapper.wrapper--alpha
    include:markdown-it(html) about.md
