extends /_layout/layout.pug

block variables
  - pageTitle = "Daily reads"
  - pageDesc = "I find these links interesting and useful. You may find all sorts of articles, tutorials, opinions, and tools here."
  - pageTagline = ["I find these links interesting and useful. You may find all sorts of articles, tutorials, opinions, and tools here."]
  - noCta = true
  - beer = true

block content
  include _partials/daily-all

