extends /_layout/layout.pug

block variables
  - navTitle = "Home"

block content
  include /_partials/author.pug
  include /_partials/programs.pug
  include /_partials/resources.pug
  include /_partials/tips.pug
