extends /_layout/layout.pug

block variables
  - pageCTA = "Join The Program"

block content
  include /_partials/author.pug
  include /_partials/programs.pug
  include /_partials/resources.pug
  include /_partials/tips.pug
