extends /_layout/layout.pug

block variables
  - pageTitle = "UI Dev Newsletter"
  - pageDesc = "I find these links interesting and useful. You may find all sorts of articles, tutorials, opinions, and tools here."
  - pageTagline = ["I find these links interesting and useful. You may find all sorts of articles, tutorials, opinions, and tools here."]
  - noCta = true
  - ctaNewsletter = true
  - beer = true

block content
  include _partials/reads-all
  include _partials/newsletter

