extends /_layout/layout.pug

block variables
  - pageTitle = "Resources"
  - pageDesc = "I have collected and organized resources to help you learn and get the first UI developer job more easily."
  - pageTagline = ["The resources I have collected and organized have a single purpose—to help you learn and get the first UI developer job more easily.", "Vast majority of these resources helped me shape my career."]
  - noCta = true
  - beer = true

block content
  include _partials/resources-all

