extends /_layout/layout.pug

block variables
  - pageTitle = "Slides"
  - pageDesc = "The slides for The UI Development Mentoring Programs tips."
  - pageTagline = ["The UI Development Mentoring Programs tips are available as slides, too."]
  - noCta = true
  - beer = true

block content
  include _partials/slides-all
