section.wrapper.wrapper--alpha
  .kwes-form.form(v-cloak="true")
    form(method="POST", action="https://kwes.io/api/foreign/forms/" + formId)
      p.label Are you interested in career mentoring or technical mentoring?
      .kw-radio-group
        input#Career(type="radio", name="mentoring", value="Career", label="Career", checked="checked")
        input#Technical(type="radio", name="mentoring", value="Technical", label="Technical")
      .desc
        p
          span Career mentoring means I help you make decisions regarding your career.
        p
          span
            | Technical mentoring means I help you gain new skills or improve the current skill level.
      label(for="Name") What is your name?
      input#Name(type="text", name="name", rules="required")
      label(for="Email")
        | Tell me your email address, please
        span  (I would use it only for direct communication)
        | .
      input#Email(type="email", name="email", rules="required|email|max:255")
      label(for="Note") Tell me why I should mentor you?
      textarea#Note(name="note", rules="required", rows="6")
      div(kw-show="fields.mentoring == 'Technical'")
        label(for="Note2") Tell me which skills do you want to aquire or approve?
        textarea#Note2(name="note2", rules="required_if:mentoring,Technical", rows="6")
      button(type="submit") Submit
