block variables
head
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")

  - var title = pageTitle ? pageTitle + ' | ' + siteName : siteName;
  - var description = pageDesc || siteDesc;
  title= title
  meta(name="description", content=description)

  link(rel="preload", href="/css/style.min.css", as="style")
  link(rel="preload", href="/js/index.min.js", as="script")

  include ../_assets/favicon.pug
  include ../_assets/critical-css.pug
  include ../_assets/og.pug
