block variables
head
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")

  title= pageTitle ? pageTitle + ' | ' + siteName : siteName
  meta(name="description", content=pageDesc || siteDesc)

  link(rel="preload", href="/css/style.min.css", as="style")
  link(rel="preload", href="/js/index.min.js", as="script")

  include ../_assets/favicon.pug
  include ../_assets/critical-css.pug

//- https://res.cloudinary.com/starbist/image/upload/v1579533399/The_UI_Development_Mentoring_program-CTA2-2x_tdnxpf.jpg
//- https://res.cloudinary.com/starbist/image/upload/v1579704350/The_UI_Development_Mentoring_program-2x_wohbeq.jpg
