section
  article.intro
    h2 Programs
    p The UI Development Mentoring Programs provides two courses:
    ul
      li Skills improvement, and
      li Career Guidance.
    .row
      .col
        .card.wrapper.wrapper--beta
          h4 Improve your skills
          ul
            li HTML/CSS/JavaScript
            li WordPress
            li JAMstack
            li Web performance
            li In-page SEO
          a.href(href="/apply.html") Apply now
      .col
        .card.wrapper.wrapper--beta
          h4 Guidance is the key
          ul
            li What to expect?
            li How to overcome challenges?
            li How to improve your skills?
            li What to focus on?
            li How to land a job?
          a.href(href="/apply.html") Apply now
