section
  article.intro
    h2 Programs
    p The UI Development Mentoring Programs provides two courses:
    ul
      li Skills improvement, and
      li Career Guidance.
    .row
      .col
        h3 Skills Improvement
        p Do you want to improve your UI skills?
        p Do you have questions about CSS? HTML? JavaScript? WordPress? JAMstack?
        p
          a(href="/apply.html") Apply now
        .card
          h3 Skills Improvement
          ul
            li HTML/CSS/JavaScript
            li WordPress
            li JAMstack
            li Web performance
            li In-page SEO
          a.link(href="/apply.html") Apply now
      .col
        h3 Career Guidance
        p Do you need career advice?
        p Are you considering career change?
        p Are you thinking of going freelance?
        p
          a(href="/apply.html") Apply now
        .card
          h3 Career Guidance
          ul
            li What to expect?
            li How to overcome challenges?
            li How to improve your skills?
            li What to focus on?
            li How to land a job?
          a.link(href="/apply.html") Apply now
