- var readsSorted = reads;

if readsSorted.length
  each read, index in readsSorted
    - var readClass = index === 0 ? "intro" : "intro intro--alpha";
    section
      article(class=readClass)
        h2
          span Reading list
          span= "#" + (index + 1)
        ul
          each resource in read.list
            li
              a.href(href=resource.link, target="_blank", rel="noopener")= resource.title || resource.link
