section
  article.intro
    h2 Resources
    p Web industry might be overwhelming sometimes. There is so many resources, tools, techniques, articles, publications, job boards—it might be challenging to keep track.
    p You could find handpicked, curated list of useful resources in one place.
    p
      a(href="/resources.html") See all resources
