section
  article.intro
    h2 Tips
    p Did you know that everyone started a junior?
    p Sometimes a simple paragraph could be a trigger to get your started.
    p
      a(href="/resources.html") Get inspired
