section
  article.intro
    p Tips are available as a series of blog posts:
    ul
      li
        a(herf="https://www.silvestar.codes/articles/a-story-of-becoming-a-web-developer/") A Story of Becoming a Web Developer
      li The rest is yet to be published
    p Tips are also available as #[a.href(href="/slides.html") slides].
each tip, index in tips
  section
    article.intro
      h2= tip.name
      //- p #{tip.name} tips could be summarized to:
      //- ul
      //-   each advice, index in tip.list
      //-     li= advice.title
    .row
      each advice, index in tip.list
        .col
          .card.wrapper.wrapper--beta
            h4= advice.title
            ul
              each item in advice.tips
                li= item
