mixin cldnry(imgName, imgAlt, imgPlaceholder)
  - var placeholder = imgPlaceholder || "https://res.cloudinary.com/starbist/image/upload/v1582948215/placeholder_jm8ua7.svg";
  //- - var placeholder = imgPlaceholder || "data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAABCAQAAABeK7cBAAAAC0lEQVR42mNkAAIAAAoAAv/lxKUAAAAASUVORK5CYII=";
  img(class="cld-responsive"
    data-src="https://res.cloudinary.com/starbist/image/upload/w_auto,f_auto,q_auto:eco,dpr_auto,c_scale/" + imgName
    src=placeholder
    alt=imgAlt
    sizes="100vw")
