<section>
  <article class="hero">
    <h1>{{ site.heroTitle }}</h1>
    {% if site.heroTagline %}
      {% for tagline in site.heroTagline %}
        <p>{{ tagline }}</p>
      {% endfor %}
    {% endif %}
    {% unless formId and noCta %}
      <a href="/apply.html" class="link">Join the program</a>
    {% endunless %}
    {% if ctaNewsletter %}
      <a href="#newsletter" class="link">Subscribe to the newsletter</a>
    {% endif %}
  </article>
</section>
