---
layout: default
---

{% include _partials/hero %}
{% if content %}
  <section class="wrapper wrapper--alpha">{{ content }}</section>
{% endif %}
{% include _partials/newsletter %}
{% if beer %}
  {% include _partials/beer %}
{% endif %}
