{% assign readIndex = 1 %}
{% for findRead in reads %}{% if findRead == thisRead %}{% assign readIndex = forloop.index %}{% endif %}{% endfor %}
{% if thisRead %}
  {% assign thisIssue = reads | size | plus: 1 | minus: readIndex | prepend: '#' %}
  {% if thisRead.description %}
    {% assign issueDesc = ' ' | append: thisRead.description %}
  {% else %}
    {% assign issueDesc = '.' %}
  {% endif %}
  {% assign thisTitle = 'UI Dev Newsletter ' | append: thisIssue %}
  {% assign thisDesc = "UI Dev Newsletter Issue " | append: thisIssue | append: ' features' | append: issueDesc | escape %}
  {% assign thisImage = thisRead.og %}
{% else description %}
  {% assign thisTitle = title %}
  {% assign thisDesc = description | escape %}
  {% if image != blank %}
    {% assign thisImage = image %}
  {% else description %}
    {% assign thisImage = site.image %}
  {% endif %}
{% endif %}
{% if description == blank %}
  {% assign thisDesc = site.description | escape %}
{% endif %}
<!DOCTYPE html>
<html{% if site.lang %} lang="{{ site.lang }}"{% endif %}>
  {% include _partials/head %}
  <body class="wrapper wrapper--omega">
    {% include _partials/header %}
    <main class="main" id="main">
      {{ content }}
    </main>
    {% include _partials/footer %}
    {% include _assets/deferred-styles %}
    {% include _assets/scripts %}
  </body>
</html>
