{% comment %} {% include _mixins/global %}
include variables {% endcomment %}
<!DOCTYPE html>
<html lang="en">
  {% include _partials/head %}
  <body class="wrapper wrapper--omega">
    {% include _partials/header %}
    <main class="main" id="main">
      {% include _partials/hero %}
      {% include _partials/tips-all %}
      {% unless formId %}
        {% include _partials/cta %}
      {% endunless %}
      {% if beer %}
        {% include _partials/beer %}
      {% endif %}
    </main>
    {% include _partials/footer %}
    {% include _assets/deferred-styles %}
    {% include _assets/scripts %}
  </body>
</html>

