include /_mixins/global.pug

doctype
html(lang="en")
  include variables.pug
  include /_partials/head.pug
  body.wrapper.wrapper--omega
    include /_partials/header.pug
    main.main#main
      include /_partials/hero.pug
      block content
      if !formId
        include /_partials/cta.pug
      if beer
        include /_partials/beer.pug
    include /_partials/footer.pug
    include /_assets/deferred-styles.pug
    include /_assets/scripts.pug

